#logout_button {
  line-height: 3; }

#reviews_cnt {
  width: 100%;
  margin-top: 15px; }
  #reviews_cnt td {
    height: 24px;
    border: 1px #bdbdbd solid; }
  #reviews_cnt tr {
    cursor: pointer; }

.modal-wide .modal-dialog {
  width: 800px; }

#reviews_detail {
  width: 100%;
  margin-top: 5px; }
  #reviews_detail a {
    font-size: 10pt; }
  #reviews_detail td {
    padding: 3px;
    height: 24px;
    border: 1px #bdbdbd solid;
    font-size: 10pt; }
  #reviews_detail td.review-title {
    cursor: pointer; }
  #reviews_detail td.num {
    text-align: center; }

#reviews {
  width: 100%;
  margin-top: 5px; }
  #reviews a {
    font-size: 10pt; }
  #reviews td {
    height: 24px;
    border: 1px #bdbdbd solid; }
  #reviews td.review-title {
    padding-left: 5px;
    cursor: pointer; }
  #reviews td.num {
    text-align: center; }

.user-info {
  margin-bottom: 10px; }

.user-name {
  font-weight: bold; }

div#search {
  margin-bottom: 10px; }

div#selectPeriod > div > div {
  height: 50px; }

@media (min-width: 992px) {
  #left_menu {
    position: fixed; }
    #left_menu ul {
      margin-top: 10px;
      border: 1px #bdbdbd dotted;
      border-radius: 3px; } }
@media (max-width: 992px) {
  #search div {
    width: 86%; }

  #left_menu ul li {
    font-size: 16pt; } }
iframe {
  display: block;
  width: 100%;
  height: 300px;
  border: 1px #383838 solid; }
